*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#transaction-page{
    min-height:100vh;
    background:linear-gradient(135deg,#182848,#4b6cb7);
    padding:40px;
    overflow-y:auto;
}

.transaction-card{
    width:500px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:20px;
}

.transaction-card h1{
    text-align:center;
    margin-bottom:20px;
}

.transaction-card input,
.transaction-card select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
}

.transaction-card button{
    width:100%;
    padding:12px;
    cursor:pointer;
}

.counter{
    color:white;
    text-align:center;
    margin:30px 0;
}

.transaction-list{
    width:80%;
    margin:40px auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.transaction-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
    color:white;
}

.credit-card{
    background:green;
}

.debit-card{
    background:red;
}